
/* -- RESET ALL THE THINGS! -- */
html, body { height: 100%; }
* { margin: 0; padding: 0; }
a, a:visited { color: inherit; text-decoration: none; }
table {	border-collapse: collapse;	border-spacing: 0; }
ol, ul { list-style: none; }
body, button, input, select, textarea {font-family: sans-serif; }
/* -- */



/* -- Message list -- */
.message-list {
	width: 400px;
	background: url("../img/message_list/texture.png");
	box-shadow: 1px 1px 2px #dedede, inset 0px 1px 0px #e6f5ff;
	border: 1px solid #A4C9E3;
	padding: 10px;
	margin-top: 250px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -300px;
}
.message-list-new {
	padding-top: 10px;	
	box-shadow: inset 0px 1px 0px #e6f5ff;
}
	
.message-list-new textarea {
	width: 100%;
	height: 100px;
	background: transparent;
	box-shadow: inset 0px 0px 6px #888;
	border: 0;
}

.messages {
	max-height: 300px;
	overflow: hidden;
	background: url("../img/message_list/shadow.png") repeat-x 0px 0px;
	font-size: 0.8em;
	font-family: courier;
}

.message-list .logo {
	background: url("../img/message_list/bork.png");
	width: 244px;
	height: 204px;
	position: relative;
	top: -215px;
	margin-bottom: -204px;
}