
/* -- RESET ALL THE THINGS! -- */
html, body { height: 100%; }
* { margin: 0; padding: 0; }
a, a:visited { color: inherit; text-decoration: none; }
table {	border-collapse: collapse;	border-spacing: 0; }
ol, ul { list-style: none; }
body, button, input, select, textarea {font-family: sans-serif; }
/* -- */


/* -- Main -- */
body {
	background: url("../img/white_texture.png");	
}


#module-wrapper {
	margin: auto;
	max-width: 840px;
}


/* -- Message list -- */
.message-list {
	width: 400px;
	background: url("../img/message_list/texture.png");
	box-shadow: 1px 1px 2px #dedede, inset 0px 1px 0px #e6f5ff;
	border: 1px solid #A4C9E3;
	padding: 10px;
	margin-top: 250px;
	border-radius: 6px;
	max-height: 800px;
	/*position: absolute;
	top: 0;
	left: 50%;
	margin-left: -300px;*/
	float: left;
}

.messages-wrapper {
	height: 500px;
	width: 100%;
	position: relative;	
}
	
.messages {
	
	overflow: hidden;
	background: url("../img/message_list/shadow.png") repeat-x 0px 0px;
	font-size: 0.8em;
	font-family: courier;
	max-height: 500px;
	position:absolute; 
	bottom: 0;
	
	/*
	background: url("../img/message_list/shadow.png") repeat-x 0px 0px;
	font-size: 0.8em;
	font-family: courier;
	position: absolute;
	bottom: 0px;*/
	/*max-height: 100%;*/
	/*overflow-y: auto;*/
}

.message-list .logo {
	background: url("../img/message_list/bork.png");
	width: 244px;
	height: 204px;
	position: relative;
	top: -215px;
	margin-bottom: -204px;
}

.message:first-child {
	border-top: 1px solid #A4C9E3;
}

.message {
	border: 1px solid #A4C9E3;
	box-shadow: inset 0px 1px 0px rgb(194, 231, 255);
	padding: 0 2px 12px 4px;
	border-top: 0;
	color: #383838;
	text-shadow: 0px 1px 0px #C2E7FF;
	font-size: 0.9em;
}
.message img {
	max-width: 100%;	
}


.message-list-new {
	padding-top: 10px;	
	box-shadow: inset 0px 1px 0px rgb(194, 231, 255);
}
	
.message-list-new textarea {
	width: 100%;
	height: 40px;
	background: #bce1fb;
	border: 1px solid #abd0ea;
	box-shadow: inset 0px 0px 6px #888, 0px 1px 0px rgb(194, 231, 255);
	border: 0;
}

#message-list-help { 
	font-size: 0.6em;
	color: #383838;
	margin: 11px 0 0 0.9px;
	display: block;
	float: left;
}

.message-list-new input {
	display: block; 
	float: right;	
	padding: 4px 8px;
}

.message-author {
	color: #7499C3;
	text-shadow: 0px 1px 0px #C2E7FF;
	font-size: 0.8em;
	text-align: right;
	margin-right: 8px;
}

.message-content a, .message-content a:visited {
	color: #4F6F84;	
}
.message-content a:hover {
	color: #84a4ba;	
}