{% extends "base.html" %}
{% load message_list %}
{% load imgur_image_list %}

{% block custom-css-files %}

{% endblock %}

{% block custom-js-files %}
	<script language="Javascript" type="text/javascript" src="{{STATIC_URL}}js/common.js"></script> 
	<script language="Javascript" type="text/javascript" src="{{STATIC_URL}}js/slimScroll.js"></script>
    
{% endblock %}
	
{% block content %}

<div id="countdown">
	{% if place.countdown %}
		{{ place.countdown.get_delta.days }} days
	{% endif %}<br/>
     SINCE THE LAST TIME IT WAS 0.
</div>

<div id="module-wrapper">
	{% if place.messagelist %}
		{% message_list place.messagelist %}
	{% endif %}
	
	{% if place.imgurimagelist %}
		{% imgur_image_list place %}
	{% endif %}
</div>	

{% endblock %}

